<div class="panel board">
    <h3>Finances</h3>
    <div class="well">
        <form class="form-inline form-inputs">
            <div class="form-group">
                <label>Month</label>
                <select class="form-control">
                    <option>January</option>
                </select>
            </div>
            <div class="form-group">
                <label>Year</label>
                <select class="form-control">
                    <option>2014</option>
                </select>
            </div>
        </form>
    </div>
    <div class="panel board">
        <div>
            <form>
                <div class="form-group">
                    <label>Income</label>
                    <input type="text" class="form-control form-control-md" placeholder="Monthly income in dollars" />
                </div>
                <div class="form-group">
                    <label>Assets</label>
                    <div class="panel">
                        
                    </div>
                </div>
                <div class="form-group">
                    <label>Debts</label>
                    <div class="panel">

                    </div>
                </div>
                <div class="form-group">
                    <label>Payments</label>
                    <div class="panel">

                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
